@model IEnumerable<Food_Pasada.Models.res_admin>
@{
    ViewBag.Title = "OwnerTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var resAdmin = ViewBag.model as Food_Pasada.Models.res_admin;
}

<style>
   .container{
       height: 60vh;
   }
    .modal-header {
        background-color: #fa8e0a;
    }

    .modal-footer {
        background-color: #fa8e0a;
    }

    .modal-header h3 {
        color: #000000;
    }

    table thead tr th {
   
        background-color: #fa8e0a;
        color: #ffffff;
        font-family: 'Segoe UI';
    }
    table tbody tr td{
   
        font-family:'Segoe UI';
    }
    table th td{
        border-collapse: collapse;
    }
   
    
</style>

<div class="modal fade" id="Create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title center-block"><b>Add New</b></h3>
            </div>
            <div class="modal-body">
                <form id="FormData" method="POST">
                    <label>Full Name:</label><br />
                    <input type="text" class="form-control" name="f_name" placeholder="Full Name" required /><br />
                    
                    <label>Address:</label><br />
                    <input type="text" class="form-control" name="address" placeholder="Address" required /><br />
                    
                    <label>Restaurant Name:</label><br />
                    <input type="text" class="form-control" name="rest_name" placeholder="Restaurant Name" required/><br />
                    
                    <label>Username:</label><br />
                    <input type="text" class="form-control" name="username" placeholder="Username" required /><br />
                    
                    <label>Password:</label><br />
                    <input type="text" class="form-control" name="password" placeholder="Password" required /><br />
                    
                    <label>Phone/Mobile number:</label><br />
                    <input type="text" class="form-control" name="phone" placeholder="Phone number" required /><br />
                    
                    <label>Email Address:</label><br />
                    <input type="text" class="form-control" name="email" placeholder="Email Address" required /><br />
                </form> 
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_add"><span class="glyphicon glyphicon-saved"></span> Save</a>
                <a href="#" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</a>
            </div>
        </div>
    </div>
</div>

<!-------Update-->
<div class="modal fade" id="Update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title center-block"><b>Update Info</b></h3>
            </div>
            <div class="modal-body">

                <form id="FormDataUpdate" method="POST">
                    <input type="hidden" name="id" id="ID"/>
                    <label>Full Name:</label><br />
                    <input type="text" class="form-control" name="f_name" placeholder="Full Name" id="fName" required />

                    <label>Address:</label><br />
                    <input type="text" class="form-control" name="address" placeholder="Address" id="Address" required />

                    <label>Restaurant Name:</label><br />
                    <input type="text" class="form-control" name="rest_name" placeholder="Restaurant Name" id="Restaurant" required />

                    <label>Username:</label>
                    <input type="text" class="form-control" name="username" placeholder="Username" id="Username" required />

                    <label>Password:</label>
                    <input type="text" class="form-control" name="password" placeholder="Password" id="Password" required />

                    <label>Phone/Mobile Number:</label>
                    <input type="text" class="form-control" name="phone" placeholder="Phone number" id="Number" required />

                    <label>Email Address:</label>
                    <input type="text" class="form-control" name="email" placeholder="Email Address" id="Email" required />
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_update"><span class="glyphicon glyphicon-floppy-saved"></span> Update</a>
                <a href="#" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</a>
            </div>
        </div>
    </div>
</div>

<!-------Delete-->
<div class="modal fade" id="Delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title center-block"><b>WARNING!!!</b></h3>
            </div>
            <div class="modal-body">
                <center>
                    <h3><b>Do you want to Delete?</b></h3>
                </center>
                
                <input type="hidden" name="id" id="id_del" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" id="btn_del"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                <a href="#" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eject"></span>Cancel</a>
            </div>
        </div>
    </div>
</div>



    <div class="row">
        <div class="col-md-4">
            <br />
            <a href="#" class="btn btn-default" data-toggle="modal" data-target="#Create"><span class="glyphicon glyphicon-plus-sign"></span><b>  Add new Owner</b></a>
            <br />
        </div>
    </div>
    <br />
    
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>ADDRESS</th>
                            <th>RESTAURANT NAME</th>
                            <th>PHONE NUMBER</th>
                            <th>EMAIL ADDRESS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.f_name</td>
                                <td>@item.address</td>
                                <td>@item.rest_name</td>
                                <td>@item.phone</td>
                                <td>@item.email</td>
                                <td>
                                    <button class="btn btn-default" onclick="GetUserId(@item.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button class="btn btn-default" onclick="GetId(@item.id)"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2.js"></script>

<script>
    $(document).ready(function () {
        $("#btn_add").click(function(){
            var DataForm = $("#FormData").serialize();

            $.ajax({
                type: "post",
                url: "/Admin/Create",
                data: DataForm,
                
                success: function () {
                    Swal.fire("Information", "New Admin Added", "success").then((value) => {
                        window.location.href = "/Admin/OwnerTable";
                    });
                    
                }
                
            })
        })
    })

    function GetUserId(ID) {
        var url = "/Admin/GetOwnersId?id=" + ID;
        $("#Update").modal('show');

        $.ajax({
            type: "GET",
            url: url,
            
            success: function (response) {
                var obj = JSON.parse(response);

                $('#ID').val(obj.id);
                $('#fName').val(obj.f_name);
                $('#Address').val(obj.address);
                $('#Restaurant').val(obj.rest_name);
                $('#Username').val(obj.username);
                $('#Password').val(obj.password);
                $('#Number').val(obj.phone);
                $('#Email').val(obj.email);
            }
        })
    }

    $('#btn_update').click(function(){
        var DataUpdate = $('#FormDataUpdate').serialize();

        $.ajax({
            type: "POST",
            url: "/Admin/Update",
            data: DataUpdate,

            success: function(response){
                if(response.status == true){
                    Swal.fire("Information", "Successfully Update", "success").then((value) => {
                        window.location.href = "/Admin/OwnerTable";
                    });
                    
                }
                else{
                    aler("Data Not Successfully Update!!");
                    window.location.href = "/Admin/OwnerTable";
                }
            }
        })
    })

    function GetId(id){
        $('#id_del').val(id);
        $('#Delete').modal('show');
    }

    $('#btn_del').click(function(){
        var data_id = $('#id_del').val();

        $.ajax({
            type: "POST",
            url: "/Admin/Delete",
            data: {id: data_id},

            success: function(response){
                if(response.status == true){
                    Swal.fire("Delete", "Information Delete", "success").then((value) => {
                        window.location.href = "/Admin/OwnerTable";
                    });
                    
                }
                else{
                    alert("Data Problem");
                    window.location.href = "/Admin/OwnerTable";
                }
            }
        })
    })
</script>
